*{
    margin: 0px;
}

body{
    background-color: #f4f5fa;
}

.dark-theme{
    background-color: #121212;
}


.app{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}

.app .main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.app .app__footer{
    text-align: center;
    color: gray;

}

.app .app__footer a{
    text-decoration: none;
    color: darkgrey;
}

.app__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.left{
    flex:0.9;
}




.app__stats{
    display: flex;
    justify-content: space-between;
}

#graph__title,
#vaccine__title{
    margin-top: 20px;
}



/* Media Querys */
@media (max-width: 990px){
    .app .main-content{
        flex-direction: column;
    }

    .app__stats{
        flex-direction: column;
    }
}

@media (max-width: 425px){
    .app__header{
        flex-direction: column;
    }
}